<!-- <p>footer works!</p>

-->

<!-- Début code Footer François GOUJON -->

<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Le projet</h5>

        <p>
          Cette application web a été réalisée dans le cadre du cours GTI-525 de l'École de Technologie Supérieure de
          Montréal lors de la session été 2021. Elle permet aux utilisateurs de visualiser de différentes manières les
          données météo historiques de différentes villes canadiennes.
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Équipe 10</h5>
        <div class="text-left">
          <ul>
            <li> Ugo Costantini : <a href="mailto:ugo.costantini.1@ens.etsmtl.ca"> ugo.costantini.1@ens.etsmtl.ca </a></li>
            <li> Jimmy Hu : <a href="mailto:jimmy.hu.1@ens.etsmtl.ca"> jimmy.hu.1@ens.etsmtl.ca </a></li>
            <li> Jean Joshua Ghali : <a href="mailto:jean.joshua.Ghali.1@ens.etsmtl.ca"> jean.joshua.Ghali.1@ens.etsmtl.ca </a></li>
            <li> François Goujon : <a href="mailto:francois.goujon.1@ens.etsmtl.ca"> francois.goujon.1@ens.etsmtl.ca </a> </li>
            </ul>
        </div>

      </div>

    </div>

  </div>

</footer>
